{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    <div class="payment-method">
        <p>{{ 'novalnet.przelewy-payment-description' | trans }}</p>        
        {{ form_errors(data.form.novalnetPrzelewy) }}
        {{ form_widget(data.form.novalnetPrzelewy) }}
    </div>
{% endblock %}
